.banner-area-trauma {
	text-align: center;
	margin: auto;
	background-image: url(../images/Random_squiggly.png);
	padding: 100px;
}

.content-wrapper {
	text-align: justify;
	margin: 50px auto;
	padding-left: 15%;
	padding-right: 15%;
}