.comment-info{
    background-color: green;
    width: 100%;
    border: black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    /* padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px; */
}


.comment1{
    background-color: white;
    width: 90%;
    padding: 10px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.comment2{
    background-color: white;
    width: 90%;
    padding: 10px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10%;
}

.pfp{
    width: 60px;
    float: left;
    margin-right: 10px;
}

a{
    padding-left: 5px;
    color: white;
}

.comment-thread{
    padding: 10px;
    margin-left: 8%;
}

.arrow{
    float: left;
    width: 80px;
}

.comment-body{
    text-align: left;
}

button {
    margin: auto 8px;
    background-color: green;
    border-radius: 10px;
    padding: 3px 5px    ;
}