.article-wrapper{
    text-align: justify;
    margin: 50px auto;
    background-color: rgb(190, 234, 177);
    padding: 10px;
    border-radius: 10px;
}
.article-wrapper p {
    margin-top: 20px;
}


.article-title {
    font-size: 32px;  
    color: black;
    padding-left: 40px;
    text-decoration: none;
    font-weight: bold;
}

.article-title:hover {
    color: green;
}

.article-description {
    padding-left: 120px;
    font-size: 16px;
}