/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer {
	padding: 20px 0;
	background: #252525;
}
footer ul {
	padding-left: 0;
	list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
	background: #222;
	padding: 5px 0;
}
.footer-copyright .logo {
	display: inherit;
}
.footer-copyright nav {
	float: right;
	margin-top: 5px;
}
.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}
.footer-copyright nav ul li a {
	color: #969696;
}
.footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}
.footer-copyright p {
	color: #969696;
	margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
	background: #252525;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
	background: transparent;
}
footer.transparent .footer-copyright {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
	background: #f9f9f9;
}
footer.light .main-footer {
	background: #f9f9f9;
}
footer.light .footer-copyright {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
	display: inline-block;
}

/*==================== 
	Widgets 
====================== */
.widget {
	padding: 20px;
	margin-bottom: 40px;
}
.widget.widget-last {
	margin-bottom: 0px;
}
.widget.no-box {
	padding: 0;
	background-color: transparent;
	margin-bottom: 40px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}
.widget.subscribe p {
	margin-bottom: 18px;
}
.widget li a {
	color: #ff8d1e;
}
.widget li a:hover {
	color: #4b92dc;
}
.widget-title {
	margin-bottom: 20px;
}
.widget-title span {
	background: #839fad none repeat scroll 0 0;
	display: block;
	height: 1px;
	margin-top: 25px;
	position: relative;
	width: 20%;
}
.widget-title span::after {
	background: inherit;
	content: '';
	height: inherit;
	position: absolute;
	top: -4px;
	width: 50%;
}
.widget-title.text-center span,
.widget-title.text-center span::after {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.widget .badge {
	float: right;
	background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
	color: #fff;
}

ul.social-footer2 {
	margin: 0;
	padding: 0;
	width: auto;
}
ul.social-footer2 li {
	display: inline-block;
	padding: 0;
}
ul.social-footer2 li a:hover {
	background-color: #ff8d1e;
}
ul.social-footer2 li a {
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
}
.btn {
	background-color: #ff8d1e;
	color: #fff;
}
.btn:hover,
.btn:focus,
.btn.active {
	background: #4b92dc;
	color: #fff;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
	-ms-transition: all 250ms ease-in-out 0s;
	-o-transition: all 250ms ease-in-out 0s;
	transition: all 250ms ease-in-out 0s;
}

/* navbarlist */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin: auto;
}

/* Start Landing Page */

.landing-page {
	position: relative;
	background-color: #fff;
}

.landing-page .header-area {
	display: flex;
	padding: 25px 0 0;
	position: relative;
}

.landing-page .header-area .logo {
	text-transform: uppercase;
	font-style: italic;
	margin-top: 10px;
	font-size: 19px;
	width: 300px;
	color: #5d5d5d;
}

.landing-page .header-area .links {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: right;
}

.landing-page .header-area .links li {
	display: inline-block;
	margin-left: 30px;
	color: #5d5d5d;
	cursor: pointer;
}

.landing-page .header-area .links li:last-child {
	border: 0;
	border-radius: 20px;
	padding: 10px 18px;
	color: #fff;
	background-color: #6c63ff;
}

.landing-page .info {
	width: 35%;
	float: left;
	margin-top: 130px;
}

.landing-page .info h1 {
	font-size: 44px;
	margin: 0 0 20px;
	line-height: 1.4;
	color: #5d5d5d;
}

.landing-page .info p {
	margin: 0;
	line-height: 1.6;
	font-size: 15px;
	color: #5d5d5d;
}

.landing-page .info button {
	border: 0;
	border-radius: 20px;
	padding: 12px 30px;
	margin-top: 30px;
	cursor: pointer;
	color: #fff;
	background-color: #6c63ff;
}

.landing-page .image {
	width: 50%;
	float: right;
	margin-top: 35px;
}

.landing-page .image img {
	max-width: 100%;
}

.clearfix {
	clear: both;
}

/* End Landing Page */

/*start register Page */
:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
}

body {
	background: #17215f;
	background: linear-gradient(to right, #17215f, #33aeff);
}

.card-signin {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.card-signin .card-img-left {
	width: 45%;
	/* Link to your background image using in the property below! */
	background: scroll center url('https://huykhong.com/codepen/wallpaper.jpg');
	background-size: cover;
}

.card-signin .card-body {
	padding: 2rem;
}

.form-signin {
	width: 100%;
}

.form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: 0.1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group input {
	height: auto;
	border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
	padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

.btn-google {
	color: white;
	background-color: #ea4335;
}

.btn-facebook {
	color: white;
	background-color: #3b5998;
}

/* end register page */

.linky {
	/* display: inline-block;
	margin-left: 30px;
	color: #5d5d5d;
	cursor: pointer; */
	color: black;
}

/* card hover start */

@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: 'Rubik', sans-serif;
	--font-serif: 'Cardo', serif;
}






.page-content {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 1024px;
	margin: 0 auto;
	font-family: var(--font-sans);
}
@media (min-width: 600px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 800px) {
	.page-content {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
		0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
	.card {
		height: 350px;
	}
}
.card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}
.card:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.009) 11.7%,
		rgba(0, 0, 0, 0.034) 22.1%,
		rgba(0, 0, 0, 0.072) 31.2%,
		rgba(0, 0, 0, 0.123) 39.4%,
		rgba(0, 0, 0, 0.182) 46.6%,
		rgba(0, 0, 0, 0.249) 53.1%,
		rgba(0, 0, 0, 0.32) 58.9%,
		rgba(0, 0, 0, 0.394) 64.3%,
		rgba(0, 0, 0, 0.468) 69.3%,
		rgba(0, 0, 0, 0.54) 74.1%,
		rgba(0, 0, 0, 0.607) 78.8%,
		rgba(0, 0, 0, 0.668) 83.6%,
		rgba(0, 0, 0, 0.721) 88.7%,
		rgba(0, 0, 0, 0.762) 94.1%,
		rgba(0, 0, 0, 0.79) 100%
	);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
	background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(2):before {
	background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(3):before {
	background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(4):before {
	background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}
.content > * + * {
	margin-top: 1rem;
}

.title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.copy {
	font-family: var(--font-serif);
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

.btn {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
	border: none;
}
.btn:hover {
	background-color: #0d0d0d;
}
.btn:focus {
	outline: 1px dashed yellow;
	outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
	.card:after {
		transform: translateY(0);
	}

	.content {
		transform: translateY(calc(100% - 4.5rem));
	}
	.content > *:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}

	.card:hover,
	.card:focus-within {
		align-items: center;
	}
	.card:hover:before,
	.card:focus-within:before {
		transform: translateY(-4%);
	}
	.card:hover:after,
	.card:focus-within:after {
		transform: translateY(-50%);
	}
	.card:hover .content,
	.card:focus-within .content {
		transform: translateY(0);
	}
	.card:hover .content > *:not(.title),
	.card:focus-within .content > *:not(.title) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
	}

	.card:focus-within:before,
	.card:focus-within:after,
	.card:focus-within .content,
	.card:focus-within .content > *:not(.title) {
		transition-duration: 0s;
	}
}

/* end card hover */
