.banner-area-anxiet {
	text-align: center;
	margin: auto;
	background-image: url(../images/Last_squiggly.png);
	background-size: cover;
	padding: 100px;
}

.content-wrapper {
	text-align: justify;
	margin: 50px auto;
	padding-left: 15%;
	padding-right: 15%;
}

.content-title{
	background-color: rgb(221, 255, 191);
	padding: 10px;
}