.home-title {
    text-align: center;
}

.comment-info{
    background-color: rgb(144, 199, 110);
    width: 100%;
    border: black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding: 5px;
    /* padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px; */
}


.comment1{
    background-color: rgb(199, 228, 149);
    width: 90%;
    padding: 10px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.comment2{
    background-color: white;
    width: 90%;
    padding: 10px;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 10%;
}

.pfp{
    width: 60px;
    float: left;
    margin-right: 10px;
}

a.comment-author{
    padding-left: 5px;
    text-decoration: none;
    color: rgb(73, 73, 73);
}

.comment-thread{
    padding: 10px;
    margin-left: 8%;
}

.arrow{
    float: left;
    width: 80px;
}

.comment-body{
    text-align: left;
}

.button {
    margin: auto 4px;
    background-color: rgb(144, 199, 110);
    border-radius: 10px;
    padding: 3px 5px;
    color: rgb(255, 255, 255);
}

p{
    margin-left: 0px;
    padding-top: 10px;
    color: rgb(40, 40, 40);
    font-size: 14px;
}

.m-0{
    color: rgb(162, 162, 162);
    padding: 0px 0px 5px 5px;
}

.home-title{
    background-color: rgb(220, 255, 188);
    color: rgb(148, 148, 148);
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
}