/* Start Landing Page */

.logo-header {
	width: 29em;
}
.image {
	text-align: center;
	margin: auto;
}
.landing-page {
	position: relative;
	background-color: #fff;
	margin: 240px;
}


.info {
	text-align: left;
	margin: auto;
}

.info > p {
	font-size: 1.5em;
}

/* End Landing Page */