/* Start Landing Page */

.logo-header {
	width: 500px;
}
.image {
	text-align: center;
	margin: auto;
}
.landing-page {
	position: relative;
	background-color: #fff;
	margin: 240px;
}

.info {
	text-align: center;
	margin: auto;
	width: 100px;
}

/* End Landing Page */